		<div id = "content" >
      <table class = "table table-bordered title"><tr class='info'><td class = "title"><h2>Programmers</h2></td></tr></table>
      <table class = "table table-bordered mytable">
        <tr id = "lable_tr" class='success' >
        	<td>Last name</td>
          <td>Name</td>
          <td>Email</td>
          <td>Projects</td>
          <td width = "70">Delete</td>
          <td width = "50" style = "text-align: right; vertical-align: bottom;">
          <%= link_to "Add", new_programmer_path %>
          </td>

        </tr>
        <% unless @programmers.nil? %>
          <% @programmers.each do |programmer| %>
	      		<tr class = "programmer_id" programmer-id = "<%= programmer.id.to_s %>" >
	            <td> <%= programmer.last_name %> </td>	            
	            <td> <%= programmer.first_name %> </td>
	            <td> <%= programmer.email %> </td>
              <td> 
                <% programmer.projects.each do |project| %>
                <%= project.name + ";" %>
                <% end %>
              </td>
              <td style = "text-align: center; vertical-align: middle; overflow:visible;">
                <div class="btn-group">
             <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
              Action
             <span class="caret"></span>
             </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Show', action: :show, id: programmer.id %></li>
              <li><%= link_to 'Edit', action: :edit, id: programmer.id %></li>
              <li><%= link_to 'Delete', { action: :destroy, id: programmer.id },
                     method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
        </div>
              </td>
	          </tr>
          <% end %>
        <% end %>
      </table>
    </div>