    <div id = "content" >
      <table class = "table table-bordered title"><tr class='info'><td class = "title"><h2><%= @client.first_name %> <%= @client.last_name %></h2></td></tr></table>
      <table class = "table table-bordered mytable">
        <tr id = "lable_tr" class='success' >
          <td>Project</td>
          <td>Programmer</td>
          <td>Manager</td>
          <td width="37">Status</td>
          <td>Date of Start</td>
          <td>Deadline</td>
          <td>Totally</td>
          <td width="60">Currency</td>
          <td>Paid</td>
          <td>To pay</td>
          <td>Comment</td>

          

        </tr>
        <% unless @client.projects.nil? %>
          <% @client.projects.each do |project| %>
            <tr class = "client_id">
              <td> <%= project.name %> </td>              
              <td> 
                <% project.programmers.each do |programmer| %> 
                  <%= programmer.last_name + ";" %>
                <% end %>
              </td>
                <% unless project.manager.try(:last_name).nil? %>
                   <td> <%= project.manager.last_name %> </td>
                <% else %>
                    <td style="color: red;" >Removed</td>
                <% end %>
              <td> <%= project.status %> </td>
        <td> <%= project.date_of_start %> </td>
        <td> <%= project.deadline %> </td>
        <td> <%= project.totally %> </td>
        <td> <%= project.currency %> </td>
        <td> <%= project.paid %> </td>
        <td> <%= project.to_pay %> </td>
        <td> <%= project.comment %> </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    