<div class="btn-group">
      <button class="btn"><%= link_to "Programmers", controller: "programmer", action: "show" %></button>
      <button class="btn"><%= link_to "Managers", controller: "manager", action: "show" %></button>
      <button class="btn"><%= link_to "Clients", controller: "client", action: "show" %></button>
      <button class="btn"><%= link_to "Currencies", controller: "currency", action: "show" %></button>
      <button class="btn"><%= link_to "Projects", controller: "project", action: "projects" %></button>
    </div>
<h1>Currency#show</h1>
<p>Find me in app/views/currency/show.html.erb</p>
