<!DOCTYPE html>
<html>
<head>
  <title>SlobodaDoc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<div class="btn-group">
      		<%= link_to "Programmers", programmers_path, :class => "btn" %>
      		<%= link_to "Managers", managers_path, :class => "btn"  %>
      		<%= link_to "Clients", clients_path, :class => "btn"  %>
      		<%= link_to "Projects", projects_path, :class => "btn"  %>
    	</div>
    </div>

<%= yield %>

</body>
</html>
